.container{
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

li{
    list-style: none;
}
 .favorite{
     background: transparent;
     border: transparent;
     color: red;
 }