.plantContainer{
        margin: auto;
        width: 60%;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        background-color: #aebea2d3;
    }

.plantList{
        list-style: none;
        
}

.plantName{
        float: right;
        display: inline;
        margin-right: 20%;
        margin-top: 10%;
}