.roomSelect{
    margin-left: 10%;
    margin-right: 10%;
}

.roomReturn{
    margin-left: auto;
    margin-right: auto;
        width: 70%;
        padding: 10px;
        padding-top: 30px;
        text-align: center;
        border-radius: 15px;
        background-color: #a4b4aca4;
        align-content: center;
        display: center;
}

.editDeleteContainer{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.editBtn{
float: left;
background-color: #AEBEA2;
border-radius: 5px;
margin-top: 10px;
}

.newRoomBtn{
float: right;
background-color: #AEBEA2;
border-radius: 5px;
margin-right: 18%;
margin-top: 10px;
}

.roomSelectInput{
float: left;
background-color: #AEBEA2;
border-radius: 5px;
margin-left: 10%;
margin-top: 10px;
padding: 1px;
border: 2px solid grey;
}

.deleteBtn{
float: right;
background-color: #AEBEA2;
border-radius: 5px;
margin-top: 10px;
}

img{
    border: 2px solid gray;
    border-radius: 15px;
    margin-right: 30px;
}

li{
list-style: none;
}

ul{
    margin-left: 0px;
    padding-left: 0%;
}

.singleRoomPlant{
    background-color: #AEBEA2;
        margin: 10px;
        margin-top: 30px;
        padding: 10px;
        border-radius: 10px;
        width: 23%;
        display: inline-flex;
        height: 270px;
        border: 2px solid gray;
}

.roomPlantEditBtn{
    background-color: #51624fd3;
        border-radius: 5px;
        float: left;
        margin-top: 5px;
}

.roomPlantWaterBtn{
    background-color: #51624fd3;
        border-radius: 5px;
        float: right;
        margin-top: 5px;
}

.deletePlantBtn{
    background-color: #51624fd3;
        border-radius: 5px;
        margin-bottom: 5px;
        float: right;
}