.roomSelect{
    margin-left: 10%;
    margin-right: 10%;
}

.roomReturn{
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    background: #A4B4AC;
    border: 2px solid #AEBEA2;
    padding-left: 0px;
    align-content: center;
    border-radius: 5px;
}

.editDeleteContainer{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.editBtn{
float: left;
background-color: #AEBEA2;
border-radius: 5px;
}

.newRoomBtn{
float: right;
background-color: #AEBEA2;
border-radius: 5px;
margin-right: 10%
}

.roomSelectInput{
float: left;
background-color: #AEBEA2;
border-radius: 5px;
margin-left: 10%;
}

.deleteBtn{
float: right;
background-color: #AEBEA2;
border-radius: 5px;
}

.pageHeading{
    color: #E6D5AA;
}

.roomPageContainer{
    background: #51624fd3;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
}

img{
    border: 2px solid gray;
    border-radius: 15px;
    margin-right: 30px;
}

li{
list-style: none;
}